<% layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <!-- offset0f 2 means space from left -->
      <br /><br />
      <h3>create a new Listing</h3>
      <form method="POST" action="/listings" enctype="multipart/form-data">
        <div class="mb-3">
          <!-- mb3 bootsrap class for margin botton val 3-->
          <label for="tittle" class="form-label is-valid">Title</label>
          <input
            name="listing[title]"
            placeholder="enter title"
            type="text"
            class="form-control"
            required
          />
          <div class="is-valid"></div>
        </div>

        <div class="mb-3">
          <label for="Description" class="form-label">Description</label>
          <textarea
            name="listing[Description]"
            class="form-control"
            required
          ></textarea>
        </div>

        <!--  old version of img uploading by links
          <div class="mb-3">
          <label for="image" class="form-label">image link</label>
          <input
            name="listing[image]"
            placeholder="enter img url"
            type="text"
            class="form-control"
          /> -->

        <div class="mb-3">
          <label for="image" class="form-label">upload the listing_img</label>
          <input name="listing[image]" type="file" class="form-control" />
          required
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              placeholder="1200"
              type="number"
              class="form-control"
              required
            />
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">country</label>
            <input
              name="listing[country]"
              placeholder="india"
              type="text"
              class="form-control"
              required
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            placeholder="jaipur rajasthan"
            type="text"
            class="form-control"
            required
          />
        </div>

        <button class="btn btn-dark add-btn mt-3">Add</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
